<html>
    <h1>Computer</h1>
<ol>
    <% computers.forEach(function(computer){ %>
        <li><%= computer.name %> <img  width="150px" height="150px" src = <%= computer.pic %> /> </li>
        <% }); %>
</ol>
</html>